
<div class="jumbotron bg-light">
  <h1 class="d-block p-3 bg-info text-white " style="margin-top: 80px; text-align: center;">Liste des agents</h1>
<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom d'utilisateur</th>
      <th scope="col">Mot de passe</th>
      <th scope="col">Suppression</th>
      <th scope="col">Modification</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agt of newAgentBM">
      <td>{{agt.abmId}}</td>
      <td>{{agt.abmNomUtilisateur}}</td>
      <td>{{agt.abmMotDePasse}}</td>

      <td><button  class="btn btn-danger" (click)="deleteAgentBM(agt.abmId)">Supprimer</button></td>
      <td><a type="button" class="btn btn-success" routerLink="/update-agent/{{agt.abmId}}">Modifier</a></td>

    </tr>
  </tbody>
</table>
</div>
