
    
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">
    <a class="navbar-brand" [routerLink]="['home-agent']" >BMDrive<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto">
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Adhérents
                  </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['add-adherent']">Ajouter un adhérent</a>
                    <a class="dropdown-item" [routerLink]="['list-adherent']">Liste des adhérents</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Agents
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-agent'">Ajouter un agent</a>
                    <a class="dropdown-item" [routerLink]="'list-agent'">Liste des agents</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Casiers
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-casier'">Ajouter casier</a>
                    <a class="dropdown-item" [routerLink]="'list-casier'">Liste des casiers</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Catégories
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-categorie'">Ajouter catégorie</a>
                    <a class="dropdown-item" [routerLink]="'list-categorie'">Liste des catégories</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Livres
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-livre'">Ajouter livre</a>
                    <a class="dropdown-item" [routerLink]="'list-livre'">Liste des livres</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Réservations
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-reservation'">Ajouter une réservations</a>
                    <a class="dropdown-item" [routerLink]="'list-reservation'">Liste des réservations</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" id="navbardrop" data-toggle="dropdown">
                Supports média
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-suppmedia'">Ajouter un support média</a>
                    <a class="dropdown-item" [routerLink]="'list-suppmedia'">Liste des support médias</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" id="navbardrop" data-toggle="dropdown">
                Catégorie
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-categorie'">Ajouter une catégorie</a>
                    <a class="dropdown-item" [routerLink]="'list-categorie'">Liste des catégories</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="['list-panier']"  id="navbardrop" data-toggle="dropdown">
                Panier
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-panier'">Ajouter au panier</a>
                    <a class="dropdown-item" [routerLink]="['list-panier']">Contenu du panier</a>

                </div>
            </li>

    </ul>

</div>
</nav>





