
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" >BM Drive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']">Menu <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Adhérents
                  </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['add-adherent']">Ajouter un adhérent</a>
                    <a class="dropdown-item" [routerLink]="['list-adherent']">Liste des adhérents</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Agents
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-agent'">Ajouter un agent</a>
                    <a class="dropdown-item" [routerLink]="'list-agent'">Liste des agents</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Casiers
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-casier'">Ajouter casier</a>
                    <a class="dropdown-item" [routerLink]="'list-casier'">Liste des casiers</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Livres
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-livre'">Ajouter livre</a>
                    <a class="dropdown-item" [routerLink]="'list-livre'">Liste des livres</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button"  id="navbardrop" data-toggle="dropdown">
                Réservations
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-reservation'">Ajouter une réservations</a>
                    <a class="dropdown-item" [routerLink]="'list-reservation'">Liste des réservations</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" id="navbardrop" data-toggle="dropdown">
                Supports média
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-suppmedia'">Ajouter un support média</a>
                    <a class="dropdown-item" [routerLink]="'list-suppmedia'">Liste des support médias</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="['list-panier']"  id="navbardrop" data-toggle="dropdown">
                Panier
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'add-panier'">Ajouter au panier</a>
                    <a class="dropdown-item" [routerLink]="['list-panier']">Contenu du panier</a>

                </div>
            </li>

    </ul>

</div>
</nav>


<footer >
    <div  class = " bg-light fixed-bottom " >
        <div  class = " container " >
          <div  class = " row " >
              <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">A propos</a>
                    </li>
                    <li class="list-inline-item">
                        .
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Vie privée</a>
                    </li>
                    <li class="list-inline-item">
                        .
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Conditions d'utilisations</a>
                    </li>
                </ul>
              </div>

          </div >
        </div >
      </div >
</footer>



