
<div class="container" style="margin-top: 120px;">
         
    <h1 class="d-block p-3 bg-info text-white">Liste des support médias</h1>
    <div class="card">
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-stripped table-bordered table-hover w-auto ">
          <thead class="thead-light">
            <tr>
                
              <th>Id</th>                  
              <th>Type</th>
              <th>Titre</th>                  
              <th>Auteur</th>
              <th>Date d'emprunt</th>                  
              <th>Date de retour</th>
              <th>Côte</th>                  
              
              <th colspan="2">Action </th>
             
            </tr>
          </thead>
          <tbody class="" style="background-color: aqua;">
            <tr *ngFor = "let sm of supmed">

              <td>{{sm.supId}}</td>                 
              <td>{{sm.supType}}</td> 
              <td>{{sm.bmdArticle.artTitre}}</td>                 
              <td>{{sm.bmdArticle.artAuteur}}</td>
              <td>{{sm.bmdArticle.artDateEmprunt}}</td>                 
              <td>{{sm.bmdArticle.artDateRetour}}</td>
              <td>{{sm.bmdArticle.artCote}}</td>                 
                            
              <td>
                <button  class = "btn btn-primary" (click) = "editSuppMedia(sm.supId)">
                  Edit
              </button>
                <td>
                <button  class = "btn btn-danger" (click) = "deleteSuppMedia(sm.supId)">
                    Delete
                </button>
            </td>
            </tr>                
          </tbody>
        </table>
      </div>
      </div>

</div>
