<h1>Liste des adherents</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom d'utilisateur</th>
      <th scope="col">Mot de passe</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Mail</th>
      <th scope="col">Sexe</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Ville</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adh of adherent">
      <td>{{adh.adhId}}</td>
      <td>{{adh.adhNomUtilisateur}}</td>
      <td>{{adh.adhMotDePasse}}</td>
      <td>{{adh.bmdIdentite.ideNom}}</td>
      <td>{{adh.bmdIdentite.idePrenom}}</td>
      <td>{{adh.bmdIdentite.ideMail}}</td>
      <td>{{adh.bmdIdentite.ideSexe}}</td>
      <td>{{adh.bmdIdentite.ideTelephone}}</td>
      <td>{{adh.bmdIdentite.bmdAdresse.adrVille}}</td>
      <td><button type="submit" class="btn btn-danger" (click)='onSubmit(adh.adhId)'>Supprimer</button></td>
      <td><button type="button" class="btn btn-success" routerLink="/update-adherent/{{adh.adhId}}">Modifier</button></td>
    </tr>
  </tbody>
</table>
