<div class="d-flex flex-row-reverse p-0" style="margin-top: 100px; margin-right: 200px;">
    <form class="form-inline my-5 my-lg-0">
      <div class="input-group mb-3">
        <input type="text" class="form-control rounded-pill-left" [(ngModel)]="artTitre"  name="artTitre" placeholder="Chercher par titre" id="input">
        <div class="input-group-append">
          <button class="btn btn-info" (click)="searchByTitre()" id="btnSearch">Chercher</button>
        </div>
      </div>
  </form>
  </div>

<div class="jumbotron" style="background-color:lightseagreen">  
<div *ngFor = "let art of article">
  <div class="row">
    <div class="col-lg-12">
      <span class="border-right-0">
        <div class="card border-primary" style="margin-bottom: 20px;"> 
          <div class="card-header shadow-lg  bg-white rounded"><p><u>Titre:</u></p><small class="text-muted"><strong>{{art.artTitre}}</strong></small></div>
            <div class="card-body">
              <p><u>Auteur:</u></p> 
              <small class="text-muted text-uppercase"><p><em><strong>{{art.artAuteur}}</strong></em></p></small>
            </div>
          </div>
      </span>
    </div>
  </div>
</div> 
</div> 

