<div class="container p-3 my-3 bg-dark text-white">
    <div>
        <h2>Ajouter au panier :</h2>
    </div>

    <form>
        <div class="form-row">
            <div class="col-sm-2 col-md-2 col-lg-3">
              <label for="inputIdPanier4">ID panier</label>
              <input type="number" [(ngModel)]="newPanier.panId" name="panId" class="form-control" id="inputpanId4" placeholder="panId">
            </div>

            <div class="col-sm-4 col-md-4 col-lg-6">
                <label>Article</label>
                    <select class="form-control" name="artId" id="artId" [(ngModel)]="newPanier.TArticle.artId" >
                        <option *ngFor=" let article of listeArticles" [value]="article.artId">{{article.artId}}</option>
                    </select>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-3">
                <label>Réservation</label>
                <select class="form-control" name="resId" id="resId" [(ngModel)]="newPanier.TReservation.resId" >
                    <option *ngFor=" let reservation of listeReservation" [value]="reservation.resId">{{reservation.resId}}</option>
                </select> 
            </div>
        </div>

        <div class="mt-2">
            <button style="background-color: aquamarine;" type="submit" (click)="addPanier()" class="btn btn-btnsuccess">
                <strong><em>Ajouter</em></strong></button>
            <div>
                <h3>{{ message }}</h3>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-5"></div>
    <div class="col-2 btn" style="background-color: darkorange;" class="btn" [routerLink]="['list-panier']">
        Retour à la liste panier</div>
    <div class="col-5"></div>
</div>

