
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">BM Drive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['']">Menu <span class="sr-only">(current)</span></a>
                </li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="['list-panier']"  id="navbardrop" data-toggle="dropdown">
                    Panier
                    </a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['add-panier']">Ajouter au panier</a>
                        <a class="dropdown-item" [routerLink]="['list-panier']">Contenu du panier</a>
                        <a class="dropdown-item" [routerLink]="['update-panier']">Modifier panier </a>
                    </div>
                </li>
        </ul>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    </div>
  </nav>


<router-outlet></router-outlet>
