<div class="jumbotron bg-light">
    <h1 class="d-block p-3 bg-info text-white " style="margin-top: 80px; text-align: center;">Liste des catégories</h1>
    
  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"><i>Id catégorie</i></th>
        <th scope="col"><i>Libellé</i></th>
        <th colspan="2" scope="col" id="action"><i>Action</i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of newCategorie">
        <td>{{cat.catId}}</td>
        <td>{{cat.catLibelle}}</td>
        <td>
          <button  class = "btn btn-success mr-4 " (click) = "editCategorie(cat.catId)">
            Modifier
        </button>
          
          <button  class = "btn btn-danger " (click) = "deleteCategorie(cat.catId)">
              Supprimer
          </button>
      </td>
      </tr>
    </tbody>
  </table>
  </div>
  
